<div class="card">
  <p-dataView #dv [value]="products" [paginator]="true" [rows]="3" filterBy="name"
              [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
    <ng-template pTemplate="header">
      <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
        <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price" (onChange)="onSortChange($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
        <p-button class="dis" [routerLink] = "'bucket'">Cart</p-button>

        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </div>
    </ng-template>
    <ng-template let-product pTemplate="listItem">
      <div class="p-col-12">
        <div class="product-list-item">
          <img [src]="'assets/images/product/' + product.name+'.jpg'" [alt]="product.name"/>
          <div class="product-list-detail">
            <div class="product-name">{{product.name}}</div>
            <p-rating [ngModel]="product.rate" [readonly]="true" [cancel]="false"></p-rating>
          </div>
          <div class="product-list-action">
            <span class="product-price">${{product.price}}</span>
            <p-button icon="pi pi-shopping-cart" label="Add to Cart" [class.ver]="product.stock === 0" (click)="bucketService.setProducts(product)"></p-button>
            <span [class]="'product-badge status-' + product.stock">Left {{product.stock}}</span>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template let-product pTemplate="gridItem" >
      <div class="p-col-12 p-md-4 w-30">
        <div class="product-grid-item card">
          <div class="product-grid-item-top">
            <div>
              <i class="pi pi-tag product-category-icon"></i>
              <span class="product-category">{{product.category}}</span>
            </div>
            <span [class]="'product-badge status-12' + product.stock">Left {{product.stock}}</span>
          </div>
          <div class="product-grid-item-content">
            <img [src]="'assets/images/product/' + product.name+'.jpg'" [alt]="product.name"/>
            <div class="product-name">{{product.name}}</div>
            <div class="product-description">{{product.description}}</div>
            <p-rating [ngModel]="product.rate" [readonly]="true" [cancel]="false"></p-rating>
          </div>
          <div class="product-grid-item-bottom">
            <span class="product-price">${{product.price}}</span>
            <p-button icon="pi pi-shopping-cart" [disabled]="product.stock === 0 " (click)="bucketService.setProducts(product)"></p-button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
<!--<div class="card">
  <p-dataView #dv [value]="products" [paginator]="true" [rows]="3" filterBy="name"
              [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
    <ng-template pTemplate="header">
      <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
        <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price" (onChange)="onSortChange($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
        <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                  <i class="pi pi-search"></i>
              </span>
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </div>
    </ng-template>
    <ng-template let-product pTemplate="listItem">
      <div class="p-col-12">
        <div class="product-list-item">
          <div class="product-list-detail">
            <img [src]="'assets/images/product/' + product.name+'.jpg'" [alt]="product.name"/>
            <div class="product-name">{{product.name}}</div>
            <div class="product-description">{{product.description}}</div>
            <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
            <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{product.category}}</span>
          </div>
          <div class="product-list-action">
            <span class="product-price">${{product.price}}</span>
            <p-button icon="pi pi-shopping-cart" label="Add to Cart" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button>
            <span [class]="'product-badge status-' + product.inventoryStatus">{{product.inventoryStatus}}</span>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template let-product pTemplate="gridItem">
      <div class="p-col-12 p-md-4 w-30">
        <div class="product-grid-item card">
          <div class="product-grid-item-top">
            <div>
              <i class="pi pi-tag product-category-icon"></i>
              <span class="product-category">{{product.category}}</span>
            </div>
            <span [class]="'product-badge status-' + product.stock">{{product.stock}}</span>
          </div>
          <div class="product-grid-item-content">
            <div class="product-name">{{product.name}}</div>
            <img [src]="'assets/images/product/' + product.name+'.jpg'" [alt]="product.name"/>
            <div class="product-description">{{product.description}}</div>
            <p-rating [ngModel]="product.rate" [readonly]="true" [cancel]="false"></p-rating>
          </div>
          <div class="product-grid-item-bottom">
            <span class="product-price">${{product.price}}</span>
            <p-button icon="pi pi-shopping-cart" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>-->
