<div class="wrapper">
  <h1>Welcome to the secret shop</h1>
  <div class="username">
        <span class="p-float-label">
            <input id="float-input-invalid"  class="p-inputtext-lg" [(ngModel)]="authentication.login" type="text" pInputText>
            <label for="float-input-invalid">Username</label>
        </span>
  </div>

  <div class="pass">
    <div class="pass-input">
      <p-password class="p-inputtext-lg" [(ngModel)]="authentication.pass"  [toggleMask]="true"></p-password>
    </div>
  </div>
  <div class="sign-in">
    <p-button label="Sing In" class="p-button-lg" (click)="submitAuth(authentication)"></p-button>
    <p-button label="Registration" class="p-button-lg" [routerLink]="'reg'"></p-button>
  </div>
</div>
