<div class="content-section implementation">
  <div class="card">
    <p-orderList [value]="productB" [listStyle]="{'max-height':'30rem'}" header="List of Products" filterBy="name" filterPlaceholder="Filter by name" [dragdrop]="true">
      <ng-template let-productB pTemplate="item">
        <div class="product-item">
          <div class="image-container">
            <img [src]="'assets/images/product/' + productB.name+'.jpg'" [alt]="productB.name" class="product-image" />
          </div>
          <div class="product-list-detail">
            <h5 class="p-mb-2">{{productB.name}}</h5>
            <i class="pi pi-tag product-category-icon"></i>
            <span class="product-category">{{productB.category}}</span>
          </div>
          <div class="product-list-action">
            <h6 class="p-mb-2">${{productB.price}}</h6>
            <span [class]="'product-badge status-' + productB.stock">{{productB.stock}}</span>
          </div>
        </div>
      </ng-template>
    </p-orderList>
    <div class="dis">
      <p-button class = "or" (click)="bucketService.order(productB)" (click)="showMaximizableDialog()" >Order</p-button>
      <p-button class = "mar" [routerLink] = "'/market'">Back to market</p-button>
    </div>
  </div>
</div>
<p-dialog header="Order Detail" [(visible)]="displayMaximizable" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">
  <p>Order sum is {{bucketService.order(productB)}}</p>
  <p>Agree?</p>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="displayMaximizable=false" (click)="displayMin=true" label="Yes" class="p-button-text"></p-button>
    <p-button icon="pi pi-times" (click)="displayMaximizable=false" label="No"></p-button>
  </ng-template>
</p-dialog>
<p-dialog header="Success" [(visible)]="displayMin" [modal]="true" [style]="{width: '50vw'}"  [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">
  <p>Congratulations</p>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="displayMin=false"  (click)="delete(productB)" label="Ok" class="p-button-text"></p-button>
  </ng-template>
</p-dialog>
